@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hsl: 0, 0, 0;
  --background-hsl: 0, 0%, 95%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hsl: 255, 255, 255;
    --background-hsl: 230, 14%, 8%;
  }
}

body {
  color: hsl(var(--foreground-hsl));
  background: hsl(var(--background-hsl))
}

.thing {
  color: hsla(240, 12%, 8%, 0.479);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}